body {
  font-size: 18px;
  color: black;
}

.colors.index {
  width: 700px;
}

.colors.index .title {
  font-size: 42px;
  color: #0091c9;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
  text-align: center;
}

.colors.index .sub-title {
  padding-bottom: 30px;
}

.colors.index .table.table-striped th{
  color: white;
  background-color: #0091c9;
  border-left: 1px white;
  border-style: solid;
}

.colors.index .table.table-striped td{
  border: 1px white;
  border-style: solid;
}

.colors.index .table.table-striped td p{
  height: 15px;
}

.colors.index .table.table-striped td a{
  color: black;
  text-decoration: underline;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #C1E4F1;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #e0f1f8;
}
